### BEGIN .ebextensions/logs.config
files:
  "/etc/awslogs/config/stdout.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [docker-stdout]
      log_group_name=`{ "Ref" : "AWSEBEnvironmentName" }`
      log_stream_name={instance_id}
      datetime_format=%Y-%m-%dT%H:%M:%SZ
      initial_position=end_of_file
      file=/var/log/eb-docker/containers/eb-current-app/*-stdouterr.log

commands:
  "00_restart_awslogs":
    command: rm -f /var/log/eb-docker/containers/eb-current-app/eb-**-stdouterr.log && echo "" > /var/lib/awslogs/agent-state && service awslogs restart

### END .ebextensions/logs.config
