Resources:
  errorFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        FilterPattern: '"[ERROR]"'
        LogGroupName:
          Ref: AWSEBEnvironmentName
        MetricTransformations:
          -
            DefaultValue: 0
            MetricName: "error"
            MetricNamespace:
              Ref: AWSEBEnvironmentName
            MetricValue: 1
  warnFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        FilterPattern: '"[WARN]"'
        LogGroupName:
          Ref: AWSEBEnvironmentName
        MetricTransformations:
          -
            DefaultValue: 0
            MetricName: "warn"
            MetricNamespace:
              Ref: AWSEBEnvironmentName
            MetricValue: 1
  infoFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      FilterPattern: '"[INFO]"'
      LogGroupName:
        Ref: AWSEBEnvironmentName
      MetricTransformations:
        -
          DefaultValue: 0
          MetricName: "info"
          MetricNamespace:
            Ref: AWSEBEnvironmentName
          MetricValue: 1
  errorResponseFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      FilterPattern: '"\"responseCode\":5"'
      LogGroupName:
        Ref: AWSEBEnvironmentName
      MetricTransformations:
        -
          DefaultValue: 0
          MetricName: "errorResponse"
          MetricNamespace:
            Ref: AWSEBEnvironmentName
          MetricValue: 1
  badResponseFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      FilterPattern: '"\"responseCode\":4"'
      LogGroupName:
        Ref: AWSEBEnvironmentName
      MetricTransformations:
        -
          DefaultValue: 0
          MetricName: "badResponse"
          MetricNamespace:
            Ref: AWSEBEnvironmentName
          MetricValue: 1
  okResponseFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      FilterPattern: '"\"responseCode\":2"'
      LogGroupName:
        Ref: AWSEBEnvironmentName
      MetricTransformations:
        -
          DefaultValue: 0
          MetricName: "okResponse"
          MetricNamespace:
            Ref: AWSEBEnvironmentName
          MetricValue: 1
